# Core
streamlit
pdfplumber
markdown
python-pptx
openpyxl
extract-msg

# LangChain ecosystem
langchain==0.3.24
langchain-community
langchain-core>=0.1.45
langchain-ollama>=0.1.0
langchain-qdrant
langchain_openai
langgraph
sentence-transformers
langchain-huggingface
langchain-core

# Document parsing
python-docx
pypdf

# Vector store
qdrant-client

# Text processing
tiktoken
langchain-text-splitters

# LLMs
transformers
torch

# Environment & validation
pydantic>=2.7.4
python-dotenv

# Utils
tqdm
PyYAML
requests
SQLAlchemy